* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

/* BACKGROUND */

.bg {
  height: 100vh;
}

/* HEADING */

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 100vh;
}

.heading h1 {
  font-size: 4rem;
  color: rgb(255, 255, 100);
  margin-bottom: 1rem;
}

.heading p {
  color: rgb(255, 255, 255);
  padding: 0 5rem;
  text-align: center;
}

.heading-icons {
  margin: 1rem;
  font-size: 3rem;
  text-align: center;
}

i:nth-child(1) {
  color: rgb(255, 150, 0);
}

i:nth-child(2) {
  color: rgb(0, 0, 255);
}

i:nth-child(3) {
  color: rgb(255, 255, 0);
}

i:nth-child(4) {
  color: rgb(255, 0, 0);
}

i:nth-child(5) {
  color: rgb(0, 255, 0);
}

i:nth-child(6) {
  color: rgb(0, 255, 255);
}

/* PORTFOLIO */

.portfolio {
  padding: 4rem;
}

#stuff {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  color: rgb(50, 50, 50);
}

.grid{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  border: 2px rgb(50, 50, 50) solid;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.grid-item h3 {
  text-align: center;
  color: #fff;
  background-color: rgb(50, 50, 50);
  border-bottom: rgb(255, 255, 100) 5px solid;
  padding: 1rem;
}

.grid-item h3:hover {
  background-color: rgb(66, 222, 243);
  color: rgb(50, 50, 50);
  transition: all 1s ease-out;
}

.grid-item p {
  text-align: center;
  padding: 1rem;
  color: rgb(50, 50, 50);
}

.grid-item i {
  width: 100%;
  margin-top: 5px;
  color: rgb(50, 50, 50);
}

/* CONTACT */

.contact {
  background-color: rgb(50, 50, 50);
  padding: 2rem;
  border-bottom: rgb(255, 255, 100) 5px solid;
}

.information {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.information h1{
  margin-bottom: 1rem;
}

.skill p{
  margin-bottom: 0.7rem;
}

.skill i {
  color: rgb(255, 255, 0)
}

a {
  text-decoration: none;
  color: #fff;
}

.icons a {
  margin: 0.5rem;
}

.icons .fa-github {
  color: rgb(0, 0, 0);
}

.icons .fa-linkedin {
  color: rgb(0, 0, 255);
}

.icons .fa-instagram {
  color: rgb(255, 0, 255)
}

.icons .fa-whatsapp {
  color: rgb(0, 255, 0)
}

@media screen and (max-width: 500px){
  .heading h1 {
    font-size: 3rem;
    color: rgb(255, 255, 100);
  }

  .heading p {
    color: rgb(255, 255, 255);
    padding: 0 1rem;
    text-align: justify;
  }

  .grid{
    display: initial;
  }
}